<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/tail-island.css">
  <link rel="canonical"  href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}">
  <link rel="alternate"  type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml" />
  <script src="{{ site.baseurl }}/resources/lib/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/resources/lib/bootstrap/bootstrap.min.js"></script>
</head>
